{% extends 'base.html' %}
{% load i18n %}
{#{% load bootstrap4 %}#}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript %}#}
{#{% load crispy_forms_tags %}#}

{% block title %}
    لیست و افزودن استان جدید
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">ذخیره</button>
    </form>
    <br>
    <div class="container" dir="rtl">
        <form method="get">
            {#            <label for="start_date">Start date:</label>#}
            {#            <input type="date" id="start_date" name="start_date">#}
            {#            <label for="end_date">End date:</label>#}
            {#            <input type="date" id="end_date" name="end_date">#}
            {#            <button type="submit">Filter</button>#}

            <label for="query" dir="rtl">: جستجو</label>
            <input type="text" id="query" name="q" value="{{ request.GET.q }}">
            <button type="submit">جستجو</button>
        </form>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'ردیف' %}</th>
                <th>{% trans 'استان' %}</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for province in provinces %}
                <tr class="{% cycle 'table-light' 'table-info' %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ province.name }}</td>
                    <td>
                        <a href="{% url 'city_add_list' province.id %}">
                            <button class="btn btn-primary"
                                    onclick="showDetails({{ province.id }})">{% trans 'لیست و افزودن شهرستان' %}</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'province_edit' province.id %}">
                            <button class="btn btn-warning"
                                    onclick="deleteBook({{ province.id }})">{% trans 'ویرایش' %}</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'province_delete' province.id %}">
                            <button class="btn btn-danger"
                                    onclick="deleteBook({{ province.id }})">{% trans 'حذف' %}</button>
                        </a>
                    </td>

                    {#                    <td>#}
                    {#                        <div class="rating">#}
                    {#                            <div class="rating-bg" style="width: {{ book.rating_percentage }}%"></div>#}
                    {#                        </div>#}
                    {#                        <p>{{ book.rating }} ({{ book.num_ratings }} ratings)</p>#}
                    {#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function showDetails(bookId) {
            // TODO: Implement function to show book details for the selected row
        }

        function deleteBook(bookId) {
            // TODO: Implement function to delete the selected book from the table
        }
    </script>
{% endblock %}