{% extends 'base.html' %}


{% block title %}
    اطلاعات مراقب سلامت
{% endblock %}

{% block content %}
{#    {% if error_messages %}#}
{#        <ul class="errorlist">#}
{#            {% for message in error_messages %}#}
{#                <li>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
    {#    <div class="container">#}
    {#        <form method="post" action="" name="behvarzCreationForm">#}
    {#            {% csrf_token %}#}
    {#            {{ form.as_p }}#}
    {#            <input type="submit" class="btn btn-success" value="accept">#}
    {#        </form>#}
    {#    </div>#}
    <form method="post" id="behvarzChangeForm" novalidate>
        {% csrf_token %}
        <p>
            <label for="id_user_type">User type:</label>
            <select name="user_type" id="id_user_type">
                <option value="">---------</option>

                <option value="manager">Manager</option>

                <option value="expert">Expert</option>

                <option value="behvarz" selected>Behvarz</option>

            </select>
        </p>
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" maxlength="150" autofocus required id="id_username"
                   value="{{ user.username }}">
        </p>
        <p>
            <label for="id_first_name">First Name:</label>
            <input type="text" name="first_name" id="id_first_name" value="{{ user.first_name }}">
        </p>
        <p>
            <label for="id_last_name">Last Name:</label>
            <input type="text" name="last_name" id="id_last_name" value="{{ user.last_name }}">
        </p>
        <p>
            <label for="id_gender">Gender:</label>
            <select name="gender" id="id_gender">
                <option value="">---------</option>
                <option value="man" {% if user.gender == 'man' %}selected{% endif %}>Man</option>
        <option value="women" {% if user.gender == 'women' %}selected{% endif %}>Women</option>
        <option value="other" {% if user.gender == 'other' %}selected{% endif %}>Other</option>
            </select>
        </p>
        <p>
            <label for="id_birthday">Birthday:</label>
            <input type="text" name="birthday" id="id_birthday" value="{{ user.birthday }}">
        </p>
        <p>
            <label for="id_cell_phone">Cell phone:</label>
            <input type="number" name="cell_phone" id="id_cell_phone" value="{{ user.cell_phone }}">
        </p>
        <p>
            <label for="id_education">Education:</label>
            <select name="education" id="id_education" value="{{ user.education }}">
                {% for edu in form.education %}
                    {{ edu }}
                {% endfor %}
            </select>
        </p>
        <table>
            <tr>
                <th><label for="id_province">Province:</label></th>
                <td>
                    <select name="province" id="id_province" required>
                        <option value="">---------</option>
                        {% for province in provinces %}
                            <option value="{{ province.pk }}">{{ province.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="id_city">City:</label></th>
                <td>
                    <select name="city" id="id_city" required>
                        <option value="">---------</option>
                        {% for city in cities %}
                            <option value="{{ city.pk }}" data-province="{{ city.province.pk }}"
                                    style="display: none;">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="id_health_centers">Health Centers:</label></th>
                <td>
                    <select name="health_center" id="id_health_centers" required>
                        <option value="">---------</option>
                        {% for health_center in health_centers %}
                            <option value="{{ health_center.pk }}" data-city="{{ health_center.city.pk }}"
                                    style="display: none;">{{ health_center.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="id_villages">Villages:</label></th>
                <td>
                    <select name="village" id="id_villages" required>
                        <option value="">---------</option>
                        {% for village in villages %}
                            <option value="{{ village.pk }}" data-health-center="{{ village.health_center.pk }}"
                                    style="display: none;">{{ village.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">Save</button>
        <span>  <a href="{% url 'behvarz_list' %}" class="btn btn-info">Cancel</a> </span>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            // Show only the cities of the selected province
            $("#id_province").change(function () {
                var provinceId = $(this).val();
                $("#id_city option").each(function () {
                    if ($(this).data("province") == provinceId || $(this).val() == "") {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                $("#id_city").val("");
                $("#id_health_centers").val("");
                $("#id_villages").val("");
            });

            // Show only the health centers of the selected city
            $("#id_city").change(function () {
                var cityId = $(this).val();
                $("#id_health_centers option").each(function () {
                    if ($(this).data("city") == cityId || $(this).val() == "") {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                $("#id_health_centers").val("");
                $("#id_villages").val("");
            });

            // Show only the villages of the selected health center
            $("#id_health_centers").change(function () {
                var healthCenterId = $(this).val();
                $("#id_villages option").each(function () {
                    if ($(this).data("health-center") == healthCenterId || $(this).val() == "") {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                $("#id_villages").val("");
            });

            // Initialize the form with the default province, city, and health center
            var defaultProvinceId = "{{ default_province_id }}";
            var defaultCityId = "{{ default_city_id }}";
            var defaultHealthCenterId = "{{ default_health_center_id }}";
            var defaultVillageId = "{{ default_village_id }}";
            if (defaultProvinceId) {
                $("#id_province").val(defaultProvinceId).trigger("change");
            }
            if (defaultCityId) {
                $("#id_city").val(defaultCityId).trigger("change");
            }
            if (defaultHealthCenterId) {
                $("#id_health_centers").val(defaultHealthCenterId).trigger("change");
            }
            if (defaultVillageId) {
                $("#id_villages").val(defaultVillageId).trigger("change");
            }
        });
    </script>
{% endblock %}